body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #1F2937;    

}

/* Header part */

.header{
    display: flex;
    justify-content: space-between;
    margin: 0 15%;

}

.header ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 15px;
}

.header a{
    text-decoration: none;
    color: #F9FAF8;
}


/* Hero part */

.first-container{
    display: flex;
    justify-content: space-around;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    height: 400px;
    width: 85%;
}

.hero .text-btn{
    width: 450px;
    gap: 50px;
}

.hero .awesome{
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
    margin: 0;
}

.hero .subtext{
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

.hero button{
    background-color: #3882F6;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 8px 30px;
    color: white;
    border-radius: 5px;
    border: 0;
    float: left;
}



/* Images part */

.second-container{
    background-color: white ;
    display: flex;
}

.third-container{
    background-color: #E5E7EB;
    
}

.fourth-container{
    background-color: white ;
}

.block {
    background-color: #3882F6;
}

