body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #1F2937;    

}

/* Header part */

.header{
    display: flex;
    justify-content: space-between;
    margin: 0 15%;

}

.header ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 15px;
}

.header a{
    text-decoration: none;
    color: #F9FAF8;
}


/* Hero part */

.first-container{
    display: flex;
    justify-content: space-around;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    height: 400px;
    width: 85%;
}

.hero .text-btn{
    width: 450px;
    gap: 50px;
}

.hero .awesome{
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
    margin: 0;
}

.hero .subtext{
    color: #E5E7EB;
    font-size: 16px;
    margin: 0;
}

.hero button{
    background-color: #3882F6;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 8px 30px;
    color: white;
    border-radius: 5px;
    border: 0;
    float: left;
    margin-top: 5px;
}



/* Images part */

.second-container{
    background-color: white ;
    text-align: center;
    padding: 1% 15% 5% 15%;
}

.second-container p{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.images-container p{
    font-size: 18px;
    font-weight: lighter;
    color: #1F2937;
    text-align:center;
    padding: 0px 15px;
}

.images-container{
    display: flex;
}

.image img{
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
    border-width: 4px;

}





.third-container{
    background-color: #E5E7EB;
    padding: 1% 15% 5% 15%;
    font-size: 34px;
    font-style: italic;
}

.third-container p{
    font-size: 18px;
    color: #1F2937;
    text-align: right;
    font-weight: bolder;
    font-style: normal;
}

.fourth-container{
    background-color: white ;
    display: flex;
    justify-content: center ;
    height: 300px;
}

.block {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    align-self: center;
    width: 70%;
    height: 35%;
    
}

.block small{
    color: #E5E7EB;
}

.block p{
    color: white;
    font-weight: bold;
    margin: 0px;
}

.block button{
    background-color: #3882F6;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
    border-color: white;
    border-style:solid;
    float: left;
    margin-top: 5px;
}

.footer {
    text-align: center;
    color: white;
    font-size: small;
    padding: 20px 0;
}