body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #1F2937;    
}

.header{
    display: flex;
    justify-content: space-around;

}

.header ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 15px;
}

.header a{
    text-decoration: none;
    display: flex;
    color: #F9FAF8;
}




.first-container{
    display: flex;
    justify-content: space-around;
}

.second-container{
    background-color: white ;
    display: flex;
}

.third-container{
    background-color: #E5E7EB;
    
}

.fourth-container{
    background-color: white ;
}

.block {
    background-color: #3882F6;
}